<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Authors statistic</title>
</head>
<body>
    <nav>
        <a style="margin: 10px" href="http://localhost:8060/library/book">Catalog</a>
        <a style="margin: 10px" href="http://localhost:8060/library/book/info">All books info</a>
        <a style="margin: 10px" href="http://localhost:8060/library/book/reviews_info">Book reviews info</a>
        <a style="margin: 10px" href="http://localhost:8060/library/book/statistic?by=author">Authors statistics</a>
        <a style="margin: 10px" href="http://localhost:8060/library/book/statistic?by=genre">Genre statistics</a>
        <a style="margin: 10px" href="http://localhost:8060/library/book/statistic?by=purchase">Profit statistics</a>
        <br/><br/><br/>
    </nav>

    <table style="width: 60%; margin: 30px; border-collapse: collapse">
        <tr>
            <th>Author</th>
            <th>Number of books</th>
            <th>Average rating</th>
        </tr>
        <tr th:each="author : ${statistic}">
            <td th:text="${author.name}"/>
            <td th:text="${author.book_count}"/>
            <td th:text="${#numbers.formatDecimal(author.average_rating, 1, 2)}"/>
        </tr>
    </table>
</body>
</html>